.username {
  font-weight: 700;
}

.avatar {
  position: fixed;
  top: 0;
  right: 0;

  width: 100px;
  height: 100px;

  border-radius: 50px;
}

.avatar {
  background-image: url('../img/avatar.png');
  background-size: contain;
}
